body {
	background-color: black;
}
h1 {
	color: white;
}
.ball1 {
	height: 100px;
	width: 100px;
  border: 1px white solid;
  border-radius: 50%;
  background-color: lightsalmon;
  margin: 0 auto;
  color : white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  transition: 1s;
} 
.ball2 {
	height: 100px;
	width: 100px;
  border: 1px white solid;
  border-radius: 50%;
  background-color: lightblue;
  margin: 0 auto;
  color : white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  transition: 1s;
} 