body {
  background-color: black;
}

h1 {
  color: white;
}

.ball1, .ball2, .ball3, .ball4, .ball5, .ball6 {
  height: 100px;
  width: 100px;
  border: 1px white solid;
  border-radius: 50%;
  margin: 0 auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  transition: 1s;
}

.ball1 {
  background-color: lightsalmon;
}

.ball2 {
  background-color: lightblue;
}

.ball3 {
  background-color: rgb(173, 230, 189);
}

.ball4 {
  background-color: rgb(230, 173, 215);
}

.ball5 {
  background-color: rgb(230, 173, 173);
}

.ball6 {
  background-color: rgb(181, 230, 173);
}